*, *::after, *::before {
  box-sizing: 0;
  font-family: 'Poppins', sans-serif;
}

html, body {
  margin: 0;
  background-color: hsl(0, 0%, 95%);
}

nav {
  position: -webkit-sticky;
	position: sticky;
	top: 0;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.3);
  width: 100%;
  padding: 1.5em 0;
  /* height: 15vh; */
  display: flex;
  align-items: center;
  background-color: #fff;
}

.cart-btn {
  aspect-ratio: 1;
  width: 3.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  position: relative;
  width: 3rem;
  height: 3rem;
}
.cart-btn svg {
  width: 1.6rem;
  aspect-ratio: 1;
  color: #2663d4;
}
.cart-btn:hover {
  background-color: hsl(0, 0%, 85%);
}

.container {
  width: 90%;
  margin: 0 auto;
  max-width: 1000px;
}

nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.link {
  /* margin: 0 .5em; */
  text-decoration: none;
  color: hsl(0, 0%, 40%);
  padding: .8em 1.2em;
}

.link:hover {
  background-color: hsl(0, 0%, 85%);
}
.link.active {
  color: black;
}

.cart-counter {
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.2rem;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: rgb(255, 62, 62);
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translate(25%, 25%);
}

.items-grid {
  display: grid;
  gap: 1.5em;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.store-item img {
  height: 200px;
  width: 100%;
  object-fit: cover;
  border-radius: .4rem;
}

.store-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}

.title {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.btn {
  padding: .6em 1em;
  border-radius: .2rem;
  cursor: pointer;
  color: #fff;
  border: none;
}

.btn-primary {
  background-color: #2663d4;
  width: max-content;
}

.name {
  font-weight: 600;
}
.price {
  color:hsl(0, 0%, 40%);
}
/* * {
  outline: 1px solid magenta;
} */