*, *::after, *::before {
  box-sizing: 0;
  font-family: 'Poppins', sans-serif;
}

:root {
  --primary-color: #2663d4;
  --secondary-color: #ff3e3e;
  --cart-width: 95%;
  --cart-width: 100%;
}

html, body {
  margin: 0;
  margin-bottom: 1em;
  background-color: hsl(0, 0%, 95%);
}

nav {
	position: sticky;
	top: 0;
  box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.3);
  width: 100%;
  padding: 1.25em 0;
  display: flex;
  align-items: center;
  background-color: #fff;
  height: 3rem;
}


.container {
  width: 90%;
  margin: 0 auto;
  max-width: 1000px;
}

.cart-btn {
  aspect-ratio: 1;
  width: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  position: relative;
  border: 1px var(--primary-color) solid;
}

.cart-btn svg {
  width: 1.6rem;
  aspect-ratio: 1;
  color: var(--primary-color);
}

.cart-btn:hover {
  background-color: hsl(0, 0%, 85%);
}

nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.link {
  text-decoration: none;
  color: hsl(0, 0%, 40%);
  padding: .8em 1.2em;
  font-weight: 600;
}

.link:hover {
  background-color: hsl(0, 0%, 85%);
}

.link.active {
  color: var(--primary-color);
}

.cart-counter {
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.2rem;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: var(--secondary-color);
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translate(25%, 25%);
}

.items-grid {
  display: grid;
  gap: 1.5em;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.store-item {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.store-item-img {
  height: 200px;
  width: 100%;
  object-fit: cover;
  border-radius: .4rem;
}

.store-item-body {
  display: flex;
  flex-direction: column;
}

.store-item-title {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 1em;
}

.store-item-title .name {
  font-weight: 600;
  font-size: 1.2rem;
}

.price {
  color:hsl(0, 0%, 40%);
}
.store-item-title .price {
  margin-left: .2em;
}

.quantity-control {
  display: flex;
  flex-direction: column;
}

.quantity-change-btns {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: .5em;
}

.quantity-change-btns div {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: .3em;
}

.quantity {
  font-size: 1.3rem;
}

.btn {
  padding: .6em 1em;
  border-radius: .2rem;
  cursor: pointer;
  color: #fff;
  font-weight: 600;
  border: none;
}

.reduce-btn {
  background-color: var(--primary-color);
}

.remove-btn {
  background-color: var(--secondary-color);
}





/* shopping cart */
.shopping-cart-bar {
  top: 0;
  right: -100%;
  height: 100vh;
  width: var(--cart-width);
  position: fixed;
  background-color: hsl(0, 0%, 95%);
  transition: right .5s ease-in-out;
  border-left: 1px solid #7a7a7a;
  overflow: auto;
}

.cart-title {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin: 2em 1em 1em;
}

.cart-title h2 {
  margin: 0;
}

.close-btn {
  width: 3rem;
  aspect-ratio: 1;
  cursor: pointer;
}

.items-stack {
  display: flex;
  flex-direction: column;
  margin: 0 2em;
}

.cart-item {
  display: flex;
  margin-bottom: 1.5em;
}

.cart-img {
  aspect-ratio: 5 / 3;
  object-fit: cover;
  width: 30%;
  border-radius: .4rem;
  /* width: 125px;
  height: 75px; */
}
.item-title {
  width: 30%;
}

.total-price {
  width: 40%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.cart-remove-btn {
  aspect-ratio: 1;
  width: 2rem;
  cursor: pointer;
  margin-left: .5em;
}

.cart-remove-btn:hover {
  background-color: var(--secondary-color);
}

.item-title {
  display: flex;
  flex-direction: column;
  gap: .5em;
  margin-left: 1em;
  justify-content: center;
  align-items: flex-start;
}

.item-title .price {
  font-size: .8rem;
}

.item-quantity {
  font-size: .8rem;
  color:hsl(0, 0%, 40%);
}

.total {
  text-align: end;
  margin-right: 1em;
}


@media (min-width: 600px) {
  :root {
    --cart-width: 50%;
  }
}